
.container {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.plant-view {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.link-board {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.background{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/Bare%20Homepage.jpeg");
}

.watering_can{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/Watering%20Can%20png.png");
  background-position: left bottom;
}

.watering_can:hover{
  background-color: bisque;
}

.flower_s1{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Flower%20Stage%201.png");
  background-position: center 25% bottom;
}

.flower_s2{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Flower%20Stage%202.png");
  background-position: center 25% bottom;
}

.flower_s3{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Flower%20Stage%203.png");
  background-position: center 25% bottom;
}

.flower_s4{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Flower%20Stage%204.png");
  background-position: center 25% bottom;
}

.flower_s5{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Flower%20Stage%205.png");
  background-position: center 25% bottom;
}

.cactus_s1{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Cactus%20Stage%201.png");
  background-position: center 25% bottom;
}

.cactus_s2{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Cactus%20Stage%202.png");
  background-position: center 25% bottom;
}

.cactus_s3{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Cactus%20Stage%203.png");
  background-position: center 25% bottom;
}

.cactus_s4{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Cactus%20Stage%204.png");
  background-position: center 25% bottom;
}

.cactus_s5{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Cactus%20Stage%205.png");
  background-position: center 25% bottom;
}

.pothos_s1{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Pothos%20Stage%201.png");
  background-position: center 25% top;
}

.pothos_s2{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Pothos%20Stage%202.png");
  background-position: center 25% top;
}

.pothos_s3{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Pothos%20Stage%203.png");
  background-position: center 25% top;
}

.pothos_s4{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Pothos%20Stage%204.png");
  background-position: center 25% top;
}

.pothos_s5{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Pothos%20Stage%205.png");
  background-position: center 25% top;
}

.succulent_s1{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Succulent%20Stage%201.png");
  background-position: center 25% bottom;
}

.succulent_s2{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Succulent%20Stage%202.png");
  background-position: center 25% bottom;
}

.succulent_s3{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Succulent%20Stage%203.png");
  background-position: center 25% bottom;
}

.succulent_s4{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Succulent%20Stage%204.png");
  background-position: center 25% bottom;
}

.succulent_s5{
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/png%20Succulent%20Stage%205.png");
  background-position: center 25% bottom;
}

#taskPageLink {
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/Tasks%20Sticky%20Note%20png.png");
  background-position: right center 20px left 10px top;
}

#taskPageLink:hover {
  background-color: bisque;
}

#studyPageLink {
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/Study%20Sticky%20Note%20png.png");
  background-position: right center 10px left 10px top;
}

#studyPageLink:hover {
  background-color: bisque;
}

#greenhousePageLink {
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/Greenhouse%20Sticky%20Note%20png.png");
  background-position: right center 15px left;
}

#greenhousePageLink:hover {
  background-color: bisque;
}
