* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f3; /* Light green background */
}

.container {
    position: fixed;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    /*Removed display: none;*/
    background-color: rgb(255, 243, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 10000;
    height:fit-content;
    width: 25vw;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 24px;
}

input[type="email"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #835e3b; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #64482e;
}

a {
    color: #835e3b;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 12px;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}

#taskPageLink {
    display: inline-block;
    padding: 10px 20px;
    background-color: #45a049;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#taskPageLink:hover {
    background-color: #45a049;
}
