.background {
  background-color: #F9E3D0;
}

.corkboard {
  background-image: url(../../img/homepage/corkboard.png);
  width: 288px;
  height: 530px;
  top: 40%;
  left: 80%;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  box-shadow: none;
  z-index: 0;
}

.corkboard-buttons {
  position: absolute;
  top: 100px;
  left: 43px;
}

.greeting {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 210px;
  height: 50px;
  text-align: center;
  line-height: 3rem;
}

.message {
  position: absolute;
  bottom: 40px;
  left: 25px;
  width: 235px;
  height: 150px;
  text-align: center;
}

/* Pop-up box styles */
.pointsBox {
  position: absolute;
  top: 30%;
  left: 4%; 
  background-color: rgb(255, 243, 228);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  height:fit-content;
  width: 10vw;
  z-index: 0;
}

.resetStageDiv {
  display: block;
  position: fixed;
  top: 55%;
  left: 4%;  
  background-color: rgb(255, 243, 228);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  height:fit-content;
  width: 10vw;
  z-index: 0;
}

.bookshelf {
  background-image: url(../../img/homepage/bookshelf.png);
  position: absolute;
  bottom: 0px;
  left: 70%;
  width: 390px;
  height: 230px;
}

.selectPlantButton {
  width: 200px;
  padding: 10px;
  /* background: none;
  color:peru;
  border: none; */
}
.selectPlantButton:hover {
  width: 200px;
  padding: 10px;
  /* background: none;
  color:orange;
  border: none; */
}

.plant {
  position: absolute;
  bottom: 20px;
  left: 293px;
  width: 180px;
  transition: all 2s ease-in-out;
}

.plant-view {
  background-image: url(../../img/homepage/window.png);
  top: 50%;
  left: 42%;
  width: 766px;
  height: 646px;
  box-shadow: none;
  z-index: 0;
}

.link-board {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}


#taskPageLink {
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/Tasks%20Sticky%20Note%20png.png?raw=true");
  background-position: right center 20px left 10px top;
}

#taskPageLink:hover {
  background-color: bisque;
}

#studyPageLink {
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/Study%20Sticky%20Note%20png.png?raw=true");
  background-position: right center 10px left 10px top;
}

#studyPageLink:hover {
  background-color: bisque;
}

#greenhousePageLink {
  background-image: url("https://github.com/WVU-CS230-2024-01-Group10/TaskGardenBackup/blob/main/PNG%20Images/Greenhouse%20Sticky%20Note%20png.png?raw=true");
  background-position: right center 15px left;
}

#greenhousePageLink:hover {
  background-color: bisque;
}

#homePageNavBox {
  position: fixed;
  top: 90%;
  left: -130%; 
  transform: translate(-50%, -50%);
  /*Removed display: none;*/
  background-color: rgb(255, 243, 228);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  height:fit-content;
  width: 20vw;
}
