/* Homepage.css
 * This file provides
 * styling for the HomePage
 * component
 */

 /* body background color */
.background {
  background-color: #F9E3D0;
}

/* corkboard styling
 * width and height match the background image
 * top and left are positioning based on viewport
 * text-align for child text elements
 * z-index=0 so sweet alerts are shown correctly
 */
.corkboard {
  background-image: url(../../img/homepage/corkboard.png);
  width: 288px;
  height: 530px;
  top: 40%;
  left: 80%;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
  box-shadow: none;
  z-index: 0;
}

/* buttons within corkboard div
 * position relative to corkboard div
 */
.corkboard-buttons {
  position: absolute;
  top: 100px;
  left: 43px;
}

/* greeting within corkboard div
 * position relative to corkboard div
 * line-height=3rem so that text is centered
 * vertically
 */
.greeting {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 210px;
  height: 50px;
  text-align: center;
  line-height: 3rem;
}

/* message within corkboard div
 * position relative to corkboard div
 */
.message {
  position: absolute;
  bottom: 40px;
  left: 25px;
  width: 235px;
  height: 150px;
  text-align: center;
}

/* Pop-up box styles
 * displays number of points earned
 * flex around content
 */
.pointsBox {
  position: absolute;
  top: 30%;
  left: 4%; 
  background-color: rgb(255, 243, 228);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  height:fit-content;
  width: 10vw;
  z-index: 0;
}

/* Pop-up box styles
 * development button div
 * not visible to end user
 * flex around content
 */
.resetStageDiv {
  display: none;
  position: fixed;
  top: 55%;
  left: 4%;  
  background-color: rgb(255, 243, 228);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  height:fit-content;
  width: 10vw;
  z-index: 0;
}

/* bookshelf div
 * positioned relative to body
 * width and height of background image
 */
.bookshelf {
  background-image: url(../../img/homepage/bookshelf.png);
  position: absolute;
  bottom: 0px;
  left: 70%;
  width: 390px;
  height: 230px;
}

/* button within corkboard-buttons */
.selectPlantButton {
  width: 200px;
  padding: 10px;
  /* background: none;
  color:peru;
  border: none; */
}
.selectPlantButton:hover {
  width: 200px;
  padding: 10px;
  /* background: none;
  color:orange;
  border: none; */
}

/* plant image on windowsill
 * plant-view div
 * positioned relative to parent div
 * transition for plant growth
 */
.plant {
  position: absolute;
  bottom: 20px;
  left: 290px;
  width: 180px;
  transition: all 2s ease-in-out;
}

/* plant image hung above windowsill
 * plant-view div
 * positioned relative to parent div
 * transition for plant growth
 */
.plant-hung {
  position: absolute;
  top: 45px;
  left: 290px;
  width: 180px;
  transition: all 2s ease-in-out;
}

/* plant window div
 * positioned relative to body
 * transition for plant growth
 */
.plant-view {
  background-image: url(../../img/homepage/window.png);
  top: 50%;
  left: 42%;
  width: 766px;
  height: 646px;
  box-shadow: none;
  z-index: 0;
}

/* reactive link hovering  for nav */
#taskPageLink:hover, #profilePageLink:hover {
  background-color: bisque;
}

/* navigation popup
 * large z-index to cover background
 * reactive to viewport
 */
#homePageNavBox {
  position: fixed;
  top: 90%;
  left: -130%; 
  transform: translate(-50%, -50%);
  /*Removed display: none;*/
  background-color: rgb(255, 243, 228);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  height:fit-content;
  width: 20vw;
}
